.callback{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

.callback:hover{
  color: #CB0000;
  border-bottom: 1px solid #CB0000;
}

.callback__phone{
  line-height: normal;
  font-size: 30px;
}

.callback__link{
  margin-left: 26px;
  line-height: normal;
  font-size: 16px;
}

@media (max-width: 992px){
  .callback{
    margin-bottom: 20px;
  }
}