.logo{
  align-self: flex-start;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
}

.logo__icon{
  margin-right: 22px;
}

.logo__desc{
  margin-top: 8px;
  width: 150px;
  position: relative;

  p{
    margin: 0;
  }

  .abort{
    position: absolute;
    left: -9px;
  }
}
