.mainheader{
  width: 100%;
  background: #00BFF3;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.wrapper{
  border: black 1px solid;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  color: #fff;
  margin: 30px 0;
}


@import "logo.scss";
@import "callback.scss";
@import "social.scss";