.social{
  display: flex;
  margin-left: 47px;
}

.social__list{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social__item{
  margin-left: 10px;
  .facebook{}
  .googleplus{}
  .instagram{}
}