.extrim{
  margin-bottom: 67px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  img{
    margin-bottom: 24px;
  }

  .card{
    margin-bottom: 40px;
    width: 500px;
    border: none;

    .details{
      display: flex;
      justify-content: space-between;
    }

    .header-title{
      //margin-bottom: 20px;
      font-family: "Trebuchet MS", sans-serif;
      text-decoration: none;
      color: #000000;
      border-bottom: #000000 solid 1px;
      font-size: 35px;
    }

    .header-title:hover{
      color: #CB0000;
      border-bottom: #CB0000 solid 1px;
    }

    .header-description{
      margin-top: 10px;
      font-family: "Arial", sans-serif;
      line-height: 19px;
      font-size: 14px;
      //border-bottom: 1px solid transparent  ;
    }

    .cost{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cost-real{
      font-family: "Trebuchet MS", sans-serif;
      font-size: 35px;
    }

    .cost-old{
      position: relative;
      margin-top: 10px;
      font-family: "Trebuchet MS", sans-serif;
      font-size: 20px;
      position: relative;
      color: #777777;
    }

    .cost-old::after{
      position: absolute;
      content: "";
      background-color: #CB0000;
      width: 135%;
      height: 1px;
      right: -20%;
      bottom: 50%;
    }
  }

  @media (max-width: 1200px){
    .card {
      width: 48%;
    }
  }

  @media (max-width: 992px){
    .card {
      width: 48%;
    }
  }

  @media (max-width: 768px){
    align-items: center;
    .card {
      width: 100%;

      .header-description{
        font-size: large;
      }
    }
  }

  @media (max-width: 576px){
    .card {
      width: 90%;


      .header-description{
        font-size: larger;
      }
    }
  }
}

