.table{
  border-collapse: collapse;
  color: #000;
  font-family: Arial;
  font-size: 14px;
  margin-bottom: 40px;

  tr{
    margin-bottom: 14px;
  }
  .thead{
    tr{
      background-color: #77777733;//hex with alpha chanel
    }
    th{
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: left;
    }
  }
  .tbody{
    th{
      padding-right: 35px;
      padding-top: 13px;
      padding-left: 13px;
    }

    td{
      padding-top: 13px;
      padding-right: 47px;
    }
  }
}