.table{
  border-collapse: collapse;
  color: #000;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  width: 100%;
  margin-bottom: 40px;

  tr{
    margin-bottom: 14px;
  }
  .thead{
    tr{
      background-color: #77777733;//hex with alpha chanel
    }
    th{
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: left;
    }
  }
  .tbody{
    th{
      padding-right: 35px;
      padding-top: 13px;
      padding-left: 13px;
    }

    td{
      padding-top: 13px;
      padding-right: 47px;
    }
  }

  @media (max-width: 768px){

    .tbody {
      th{
        text-align: left;
        padding-left: 1px;
        padding-right: 5px;
      }
      td {
        padding-right: 7px;
      }
    }
  }


}