.container
    .row.no-gutters
        .col-12
            footer.footer
                .copyright
                    p 2018 Тестовое задание на вакансию верстальщика в компанию &ensp;
                        a(href="#") Aweb
                include ./social.pug