.container.container-fluid-md.container-fluid-sm.container-fluid-xs
    .row.no-gutters
        .col-12
            .maincontentheader
                include ./heroimage
                include ./contentheader
            include ./extrim
            include ./content