.hotel
    a.hotel__title(href="#") Aquamarine hotel
    ul.stars
        li.star.active
        li.star.active
        li.star.active
        li.star
        li.star
    span.cost $256
    .factoid
        .count 320
        p солнечных дней в году

.rating
    .rating__title
        a.rating__feedback(href="#")
            p Оценка отеля
            p
                b  45 отзывов
    span.rating__average 8.4
    table.rating__table
        thead
            tr
                td Номер
                td Питание
                td Сервис
                td Инфраструктура
        tbody
            tr
                td 8.9
                td 8.1
                td 7.9
                td 8.9