.extrim
    .card
        img(src="img/silk-path.png")
        .details
            .header
                a.header-title(href="#") Шелковый путь
                .header-description Экстремльный маршрут
            .cost
                .cost-real $158

    .card
        img(src="img/rope-jumping.png")
        .details
            .header
                a.header-title(href="#") Роупджампинг
                .header-description Не дай Бог не любишь
            .cost
                .cost-real $57
                .cost-old $90
